代码/iMidudu.Lucky/iMidudu.Lucky.Web/Service References/BizWebService/BizWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ActivityByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Code" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivityByCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveWXUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:WXUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WXUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OpenId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pic" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sex" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="WXCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WXProvince" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WXCountry" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RegisterDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastActiveTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveWXUserResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ActivityByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:ActivityByCode" />
  </wsdl:message>
  <wsdl:message name="ActivityByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:ActivityByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="SaveWXUserSoapIn">
    <wsdl:part name="parameters" element="tns:SaveWXUser" />
  </wsdl:message>
  <wsdl:message name="SaveWXUserSoapOut">
    <wsdl:part name="parameters" element="tns:SaveWXUserResponse" />
  </wsdl:message>
  <wsdl:portType name="BizWebServiceSoap">
    <wsdl:operation name="ActivityByCode">
      <wsdl:input message="tns:ActivityByCodeSoapIn" />
      <wsdl:output message="tns:ActivityByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveWXUser">
      <wsdl:input message="tns:SaveWXUserSoapIn" />
      <wsdl:output message="tns:SaveWXUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BizWebServiceSoap" type="tns:BizWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivityByCode">
      <soap:operation soapAction="http://tempuri.org/ActivityByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWXUser">
      <soap:operation soapAction="http://tempuri.org/SaveWXUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BizWebServiceSoap12" type="tns:BizWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivityByCode">
      <soap12:operation soapAction="http://tempuri.org/ActivityByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWXUser">
      <soap12:operation soapAction="http://tempuri.org/SaveWXUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizWebService">
    <wsdl:port name="BizWebServiceSoap" binding="tns:BizWebServiceSoap">
      <soap:address location="http://115.159.45.117:8085/BizWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BizWebServiceSoap12" binding="tns:BizWebServiceSoap12">
      <soap12:address location="http://115.159.45.117:8085/BizWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>