代码/iMidudu.Lucky/iMidudu.Lucky.Web/Service References/BizWebService/BizWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ActivityByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Code" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivityByCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveWXUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:WXUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WXUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OpenId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pic" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Sex" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="WXCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WXProvince" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WXCountry" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RegisterDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastActiveTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveWXUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertScanHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="History" type="tns:ScanHistory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ScanHistory">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ScanHistoryId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="OpenId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrizeId" nillable="true" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LineType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Agent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Os" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ScanDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertScanHistoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateScanHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ScanHistoryId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="PrizeId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateScanHistoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="PrizeLottery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QRCode" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrizeLotteryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrizeLotteryResult" type="tns:Prize" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Prize">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PrizeId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="QRCode" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="PrizeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NeedValid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DayLimit" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectWXUserByScanHistoryId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ScanHistoryId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectWXUserByScanHistoryIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectWXUserByScanHistoryIdResult" type="tns:WXUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ActivityByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:ActivityByCode" />
  </wsdl:message>
  <wsdl:message name="ActivityByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:ActivityByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="SaveWXUserSoapIn">
    <wsdl:part name="parameters" element="tns:SaveWXUser" />
  </wsdl:message>
  <wsdl:message name="SaveWXUserSoapOut">
    <wsdl:part name="parameters" element="tns:SaveWXUserResponse" />
  </wsdl:message>
  <wsdl:message name="InsertScanHistorySoapIn">
    <wsdl:part name="parameters" element="tns:InsertScanHistory" />
  </wsdl:message>
  <wsdl:message name="InsertScanHistorySoapOut">
    <wsdl:part name="parameters" element="tns:InsertScanHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateScanHistorySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateScanHistory" />
  </wsdl:message>
  <wsdl:message name="UpdateScanHistorySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateScanHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="PrizeLotterySoapIn">
    <wsdl:part name="parameters" element="tns:PrizeLottery" />
  </wsdl:message>
  <wsdl:message name="PrizeLotterySoapOut">
    <wsdl:part name="parameters" element="tns:PrizeLotteryResponse" />
  </wsdl:message>
  <wsdl:message name="SelectWXUserByScanHistoryIdSoapIn">
    <wsdl:part name="parameters" element="tns:SelectWXUserByScanHistoryId" />
  </wsdl:message>
  <wsdl:message name="SelectWXUserByScanHistoryIdSoapOut">
    <wsdl:part name="parameters" element="tns:SelectWXUserByScanHistoryIdResponse" />
  </wsdl:message>
  <wsdl:portType name="BizWebServiceSoap">
    <wsdl:operation name="ActivityByCode">
      <wsdl:input message="tns:ActivityByCodeSoapIn" />
      <wsdl:output message="tns:ActivityByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveWXUser">
      <wsdl:input message="tns:SaveWXUserSoapIn" />
      <wsdl:output message="tns:SaveWXUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertScanHistory">
      <wsdl:input message="tns:InsertScanHistorySoapIn" />
      <wsdl:output message="tns:InsertScanHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateScanHistory">
      <wsdl:input message="tns:UpdateScanHistorySoapIn" />
      <wsdl:output message="tns:UpdateScanHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PrizeLottery">
      <wsdl:input message="tns:PrizeLotterySoapIn" />
      <wsdl:output message="tns:PrizeLotterySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectWXUserByScanHistoryId">
      <wsdl:input message="tns:SelectWXUserByScanHistoryIdSoapIn" />
      <wsdl:output message="tns:SelectWXUserByScanHistoryIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BizWebServiceSoap" type="tns:BizWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivityByCode">
      <soap:operation soapAction="http://tempuri.org/ActivityByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWXUser">
      <soap:operation soapAction="http://tempuri.org/SaveWXUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScanHistory">
      <soap:operation soapAction="http://tempuri.org/InsertScanHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateScanHistory">
      <soap:operation soapAction="http://tempuri.org/UpdateScanHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrizeLottery">
      <soap:operation soapAction="http://tempuri.org/PrizeLottery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectWXUserByScanHistoryId">
      <soap:operation soapAction="http://tempuri.org/SelectWXUserByScanHistoryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BizWebServiceSoap12" type="tns:BizWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivityByCode">
      <soap12:operation soapAction="http://tempuri.org/ActivityByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWXUser">
      <soap12:operation soapAction="http://tempuri.org/SaveWXUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScanHistory">
      <soap12:operation soapAction="http://tempuri.org/InsertScanHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateScanHistory">
      <soap12:operation soapAction="http://tempuri.org/UpdateScanHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrizeLottery">
      <soap12:operation soapAction="http://tempuri.org/PrizeLottery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectWXUserByScanHistoryId">
      <soap12:operation soapAction="http://tempuri.org/SelectWXUserByScanHistoryId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizWebService">
    <wsdl:port name="BizWebServiceSoap" binding="tns:BizWebServiceSoap">
      <soap:address location="http://115.159.45.117:8085/BizWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="BizWebServiceSoap12" binding="tns:BizWebServiceSoap12">
      <soap12:address location="http://115.159.45.117:8085/BizWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>