代码/iMidudu.Lucky/iMidudu.Lucky.Web/Service References/SMSWebService/SMSWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendValidCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="apikey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="format" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toMobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendValidCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendValidCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendValidCodeSoapIn">
    <wsdl:part name="parameters" element="tns:SendValidCode" />
  </wsdl:message>
  <wsdl:message name="SendValidCodeSoapOut">
    <wsdl:part name="parameters" element="tns:SendValidCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="SMSWebServiceSoap">
    <wsdl:operation name="SendValidCode">
      <wsdl:input message="tns:SendValidCodeSoapIn" />
      <wsdl:output message="tns:SendValidCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSWebServiceSoap" type="tns:SMSWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendValidCode">
      <soap:operation soapAction="http://tempuri.org/SendValidCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMSWebServiceSoap12" type="tns:SMSWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendValidCode">
      <soap12:operation soapAction="http://tempuri.org/SendValidCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSWebService">
    <wsdl:port name="SMSWebServiceSoap" binding="tns:SMSWebServiceSoap">
      <soap:address location="http://115.159.45.117:8085/SMSWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SMSWebServiceSoap12" binding="tns:SMSWebServiceSoap12">
      <soap12:address location="http://115.159.45.117:8085/SMSWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>